@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 96.88%;
  descent-override: 24.15%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}
@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 96.88%;
  descent-override: 24.15%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}
@font-face {
  font-family: 'Inter Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 96.88%;
  descent-override: 24.15%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}
